body{
  background-color: #031610;
}


h2{
  color: #FFDCDC;
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
}

textarea{
  width: 1000px;
  height: 600px;
  padding: 10px;
  resize: none;
  color: #FFD6B8;
  font-size: 25px;
  background-color: transparent;
    
}

.text-box {
  margin: 0 auto;
  width: fit-content;
  height: 100vh;
  font-size: 60px; 
  text-align: center;
  margin-top: 30px;
}

.add{
  font-size: 30px;
}


.list-link{
  color:black;
}

.list-link:hover{
  text-decoration: dotted;
  color: white;
}


li{
  font-size: 25px;
  background-color: #0b5752;
  font-weight: bold;
  color:antiquewhite;
}



#sidebar {
    position: fixed;
    top: 0;
    left: -590px;

    width: 550px;
    height: 100%;

    background-color: rgba(4, 25, 14, 0.81);

    transition: 0.3s;
    padding: 20px;
    box-sizing: border-box;
    line-height: 1.5;

}

.main{
  position: relative;
}

h1{
  margin: 0px;
  font-size: 55px;
  color:#FFD6B8;
  text-align: center;
}

#menu-tab {
  position: absolute;
  left: 0px;
  margin-top: 20px;
  font-size: 30px;
  margin-left: 20px;
 
}


button{
    transition: 0.3s;
}
button:hover{
  background: #37686f;
  transform: scale(1.1);
}

