<!DOCTYPE html>
<html>
<head>
    <title>Edit Note</title>
    <link rel="stylesheet" href="{{url_for('static',filename='edit.css')}}">
</head>
<body>


<div class="ad">

<button class="back" onclick="history.back()">◀</button>

<form  action="/home">
    <button class="home-pg" type="submit"> 🏠 </button>
</form>

<h1>Edit Note</h1>
<hr>

</div>




<form method="POST">

    <textarea
        type="text"
        name="note"
        >{{ note[1] }}</textarea>
    <br>
    <button class="save" type="submit">
        Save
    </button>

</form>

</body>
</html>
