<!DOCTYPE html>
<html>
<head>
    <title>Notes App</title>
    <link rel="stylesheet" href="{{url_for('static', filename='notes.css')}}">
</head>


<body>

<div class="main">
<button id="menu-tab" >☰</button>

<h1>My Notes</h1>
</div>

<hr>



<form class="text-box"  method="POST">
    <textarea type="text" name="note" placeholder="Enter a note"></textarea><br>
    <button class="add" type="submit">Add</button>
</form>




<div id="sidebar" >

  <h2>Saved Notes</h2>

  <ul>

      {% for note in notes %}
          <li>
            <a class="list-link" href="/read/{{note[0]}}">
              {{ note[1][:50] }}
            </a>       
          </li>
      {% endfor %}
  </ul>

</div>




<script>
 let sidebar=document.getElementById("sidebar");
 let menutab=document.getElementById("menu-tab");

 isOpen=false;

 menutab.addEventListener("click",function(){
    sidebar.style.left="0px";


/*
    if(isOpen){                                  This is for opening and closing with the same button.
        sidebar.style.left = "-590px";
        isOpen= false;
    }else {
        sidebar.style.left="0px";
        isOpen = true;
    }
*/

    event.stopImmediatePropagation();
 
 });

sidebar.addEventListener('click', function(){
    
    event.stopImmediatePropagation();
})

document.addEventListener('click', function(){

    
    sidebar.style.left = "-590px";
})




 </script>

</body>
</html>
